<form class="bd-search d-flex align-items-center">
    <input type="search"
           class="form-control"
           id="docs-search"
           placeholder="Search..."
           aria-label="Search for..."
           autocomplete="off"
           data-siteurl="{{ site.url }}"
           data-docs-version="{{ page.version }}">
    <button class="btn bd-search-docs-toggle d-md-none ml-3"
            type="button"
            data-toggle="collapse"
            data-target="#bd-docs-nav"
            aria-controls="bd-docs-nav"
            aria-expanded="false"
            aria-label="Toggle docs navigation">
        <div class="mobile-menu-trigger"></div>
    </button>
</form>
