<footer class="bd-footer text-muted">
    <div class="container-fluid p-3 py-md-5">
        <ul class="bd-footer-links">
            <li><a href="https://github.com/zephir-lang/zephir/discussions">Github discussions</a></li>
            <li><a href="https://blog.zephir-lang.com/">Blog</a></li>
            <li><a href="https://phalcon.io/discord">Discord</a></li>
            <li><a href="https://phalcon.io/telegram">Telegram</a></li>
            <li><a href="https://phalcon.io/gab">Gab</a></li>
            <li><a href="https://phalcon.io/parler">Parler</a></li>
            <li><a href="https://phalcon.io/mewe">MeWe</a></li>
            <li><a href="https://phalcon.io/f">Facebook</a></li>
            <li><a href="https://phalcon.io/t">Twitter</a></li>
            <li><a href="https://phalcon.io/bitchute">Bitchute</a></li>
            <li><a href="https://phalcon.io/lbry">LBRY</a></li>
            <li><a href="https://phalcon.io/youtube">YouTube</a></li>
        </ul>
        <p>&copy; 2013-present - Zephir Team</p>
    </div>
</footer>
