body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  cursor: pointer;
}

.bd-navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 4rem;
  background-color: #6f5499;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

  .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #E2DDEE;

    &.active, &:hover {
      color: #fff;
      background-color: transparent;
    }

    &.active {
      font-weight: 500;
    }
  }

  .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
  }

  .dropdown-menu {
    font-size: .875rem;
    position: absolute;
    left: 0;
  }

  .dropdown-item.active {
    font-weight: 500;
    color: #212529;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: .4rem .6rem;
    background-size: 0.75rem 0.75rem;
  }
}

@media (max-width: 991.98px) {
  .bd-navbar {
    padding-right: 1rem;
    padding-left: 1rem;

    .navbar-nav-scroll {
      max-width: 100%;
      height: 2.5rem;
      margin-top: .25rem;
      overflow: hidden;
      font-size: 0.875rem;

      .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}

@media (min-width: 768px) {
  @supports (position: -webkit-sticky) or (position: sticky) {
    .bd-navbar {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1071;
    }
  }
}

.bd-masthead {
  position: relative;
  padding: 3rem 15px;

  h1 {
    line-height: 1;
  }

  .btn {
    width: 100%;
    padding: .8rem 2rem;
    font-size: 1.25rem;
    font-weight: 500;
  }

  margin-top: 0 !important;
  margin-bottom: -3rem !important;
}

@media (min-width: 576px) {
  .bd-masthead {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 0 !important;
  }
}

@media (min-width: 768px) {
  .bd-masthead {
    h1 {
      font-size: 4rem;
    }

    margin-top: 3rem !important;
  }
}

.half-rule {
  width: 6rem;
  margin: 2.5rem 0;
}

.masthead-followup {
  .bd-clipboard {
    display: none;
  }

  .highlight {
    padding: .5rem 0;
    background-color: transparent;
  }
}

.bd-content {
  -ms-flex-order: 1;
  order: 1;

  img {
    max-width: 100%;
  }

  > {
    table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;

      > {
        tbody > tr > {
          td, th {
            padding: .75rem;
            vertical-align: top;
            border: 1px solid #dee2e6;
          }
        }

        tfoot > tr > {
          td, th {
            padding: .75rem;
            vertical-align: top;
            border: 1px solid #dee2e6;
          }
        }

        thead > tr > {
          td, th {
            padding: .75rem;
            vertical-align: top;
            border: 1px solid #dee2e6;
          }
        }

        tbody > tr > {
          td > p:last-child, th > p:last-child {
            margin-bottom: 0;
          }
        }

        tfoot > tr > {
          td > p:last-child, th > p:last-child {
            margin-bottom: 0;
          }
        }

        thead > tr > {
          td > p:last-child, th > p:last-child {
            margin-bottom: 0;
          }
        }
      }

      td:first-child > code {
        white-space: nowrap;
      }
    }

    h2:not(:first-child) {
      margin-top: 3rem;
    }

    h3 {
      margin-top: 1.5rem;
    }

    ol li, ul li {
      margin-bottom: 0.25rem;
    }
  }
}

@media (max-width: 991.98px) {
  .bd-content > table {
    display: block;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &.table-bordered {
      border: 0;
    }
  }
}

.bd-title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 300;
}

@media (min-width: 576px) {
  .bd-title {
    font-size: 3rem;
  }
}

.bd-lead {
  font-size: 1.125rem;
  font-weight: 300;
}

@media (min-width: 576px) {
  .bd-lead {
    max-width: 80%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.bd-text-purple {
  color: #6f5499;
}

.bd-text-purple-bright {
  color: #7952b3;
}

#skippy {
  display: block;
  padding: 1em;
  color: #fff;
  background-color: #6f5499;
  outline: 0;

  .skiplink-text {
    padding: .5em;
    outline: 1px dotted;
  }
}

.bd-toc {
  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.875rem;
}

@supports (position: -webkit-sticky) or (position: sticky) {
  .bd-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
  }
}

.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;

  ul {
    padding-left: 1rem;

    ul {
      display: none;
    }
  }
}

.toc-entry {
  display: block;

  a {
    display: block;
    padding: .125rem 1.5rem;
    color: #75757A;

    &:hover {
      color: #007bff;
      text-decoration: none;
    }
  }
}

.bd-sidebar {
  -ms-flex-order: 0;
  order: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .bd-sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  @supports (position: -webkit-sticky) or (position: sticky) {
    .bd-sidebar {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1000;
      height: 100vh;
    }
  }
}

@media (min-width: 1200px) {
  .bd-sidebar {
    -ms-flex: 0 1 320px;
    flex: 0 1 320px;
  }
}

.bd-links {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  @supports (position: -webkit-sticky) or (position: sticky) {
    .bd-links {
      max-height: calc(100vh - 72px);
      overflow-y: auto;
    }
  }
}

@media (min-width: 768px) {
  .bd-links {
    display: block !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .bd-toc-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.bd-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  .form-control:focus {
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
  }
}

.bd-search-docs-toggle {
  width: 40px;
  height: 38px;
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  flex: 0 0 auto;
  box-shadow: 0 0 0 1px #ced4da;

  &:focus {
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
  }
}

.bd-sidenav {
  display: none;
}

.bd-toc-link {
  display: block;
  padding: .25rem 1.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);

  &:hover {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
  }
}

.bd-toc-item.active {
  margin-bottom: 1rem;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  > {
    .bd-toc-link {
      color: rgba(0, 0, 0, 0.85);

      &:hover {
        background-color: transparent;
      }
    }

    .bd-sidenav {
      display: block;
    }
  }
}

.bd-sidebar .nav > {
  li > a {
    display: block;
    padding: .25rem 1rem;
    font-size: 90%;
    color: rgba(0, 0, 0, 0.65);

    &:hover {
      color: rgba(0, 0, 0, 0.85);
      text-decoration: none;
      background-color: transparent;
    }
  }

  .active {
    &:hover > a, > a {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      background-color: transparent;
    }
  }
}

.bd-footer {
  font-size: 85%;
  text-align: center;
  background-color: #f7f7f7;

  a {
    font-weight: 500;
    color: #495057;

    &:focus, &:hover {
      color: #007bff;
    }
  }

  p {
    margin-bottom: 0;
  }
}

.bd-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;

  li {
    display: inline-block;

    + li {
      margin-left: 1rem;
    }
  }
}

.bd-example-row {
  .row {
    > {
      .col, [class^=col-] {
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: rgba(86, 61, 124, 0.15);
        border: 1px solid rgba(86, 61, 124, 0.2);
      }
    }

    + .row {
      margin-top: 1rem;
    }
  }

  .flex-items-bottom, .flex-items-middle, .flex-items-top {
    min-height: 6rem;
    background-color: rgba(255, 0, 0, 0.1);
  }
}

.bd-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(255, 0, 0, 0.1);
}

.bd-highlight {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.15);
}

.example-container {
  width: 800px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.example-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.example-content-main, .example-content-secondary {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .example-content-main {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .example-content-main {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width: 576px) {
  .example-content-secondary {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .example-content-secondary {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.bd-example-container {
  min-width: 16rem;
  max-width: 25rem;
  margin-right: auto;
  margin-left: auto;
}

.bd-example-container-header {
  height: 3rem;
  margin-bottom: .5rem;
  background-color: #fff;
  border-radius: 0.25rem;
}

.bd-example-container-sidebar {
  float: right;
  width: 4rem;
  height: 8rem;
  background-color: #80bdff;
  border-radius: 0.25rem;
}

.bd-example-container-body {
  height: 8rem;
  margin-right: 4.5rem;
  background-color: #957bbe;
  border-radius: 0.25rem;
}

.bd-example-container-fluid {
  max-width: none;
}

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border: solid #f8f9fa;
  border-width: 0.2rem 0 0;

  &::after {
    display: block;
    clear: both;
    content: "";
  }

  + {
    .clipboard + .highlight, .highlight {
      margin-top: 0;
    }

    p {
      margin-top: 2rem;
    }
  }

  .pos-f-t {
    position: relative;
    margin: -1rem;
  }

  .custom-file-input:lang(es) ~ .custom-file-label::after {
    content: "Elegir";
  }

  > {
    .form-control + .form-control {
      margin-top: 0.5rem;
    }

    .alert + .alert, .nav + .nav, .navbar + .navbar {
      margin-top: 1rem;
    }

    .progress + {
      .btn, .progress {
        margin-top: 1rem;
      }
    }

    .dropdown-menu:first-child {
      position: static;
      display: block;
    }

    .form-group:last-child {
      margin-bottom: 0;
    }

    .close {
      float: none;
    }
  }
}

@media (min-width: 576px) {
  .bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 0.2rem;
  }
}

@media (min-width: 576px) {
  .bd-example .pos-f-t {
    margin: -1.5rem;
  }
}

.bd-example-type {
  .table {
    .type-info {
      color: #999;
      vertical-align: middle;
    }

    td {
      padding: 1rem 0;
      border-color: #eee;
    }

    tr:first-child td {
      border-top: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.bd-example-bg-classes p {
  padding: 1rem;
}

.bd-example > {
  img + img {
    margin-left: 0.5rem;
  }

  .btn-group {
    margin-top: .25rem;
    margin-bottom: 0.25rem;
  }

  .btn-toolbar + .btn-toolbar {
    margin-top: 0.5rem;
  }
}

.bd-example-control-sizing {
  input[type=text] + input[type=text], select {
    margin-top: 0.5rem;
  }
}

.bd-example-form .input-group {
  margin-bottom: 0.5rem;
}

.bd-example {
  > {
    textarea.form-control {
      resize: vertical;
    }

    .list-group {
      max-width: 400px;
    }
  }

  .fixed-top, .sticky-top {
    position: static;
    margin: -1rem -1rem 1rem;
  }

  .fixed-bottom {
    position: static;
    margin: 1rem -1rem -1rem;
  }

  .pagination {
    margin-top: .5rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 576px) {
  .bd-example {
    .fixed-top, .sticky-top {
      margin: -1.5rem -1.5rem 1rem;
    }

    .fixed-bottom {
      margin: 1rem -1.5rem -1.5rem;
    }
  }
}

.modal {
  z-index: 1072;

  .popover, .tooltip {
    z-index: 1073;
  }
}

.modal-backdrop {
  z-index: 1071;
}

.bd-example-modal {
  background-color: #fafafa;

  .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
  }

  .modal-dialog {
    left: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

.bd-example-tabs .nav-tabs {
  margin-bottom: 1rem;
}

.bd-example-popover-static {
  padding-bottom: 1.5rem;
  background-color: #f9f9f9;

  .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 1.25rem;
  }
}

.tooltip-demo a {
  white-space: nowrap;
}

.bd-example-tooltip-static .tooltip {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  opacity: 1;
}

.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: .5rem;
  overflow: auto;
}

.scrollspy-example-2 {
  position: relative;
  height: 350px;
  overflow: auto;
}

.bd-example-border-utils [class^=border] {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: .25rem;
  background-color: #f5f5f5;
}

.bd-example-border-utils-0 [class^=border] {
  border: 1px solid #dee2e6;
}

.highlight {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (min-width: 576px) {
  .highlight {
    padding: 1.5rem;
  }
}

.bd-content .highlight {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .bd-content .highlight {
    margin-right: 0;
    margin-left: 0;
  }
}

.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;

  code {
    font-size: inherit;
    color: #212529;
  }
}

.btn-bd-primary {
  font-weight: 500;
  color: #7952b3;
  border-color: #7952b3;

  &:active, &:hover {
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
  }
}

.btn-bd-download {
  font-weight: 500;
  color: #ffe484;
  border-color: #ffe484;

  &:active, &:hover {
    color: #2a2730;
    background-color: #ffe484;
    border-color: #ffe484;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(255, 228, 132, 0.25);
  }
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: 0.25rem;

  h4 {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    border-radius: 0.25rem;
  }

  + .bd-callout {
    margin-top: -0.25rem;
  }
}

.bd-callout-info {
  border-left-color: #5bc0de;

  h4 {
    color: #5bc0de;
  }
}

.bd-callout-warning {
  border-left-color: #f0ad4e;

  h4 {
    color: #f0ad4e;
  }
}

.bd-callout-danger {
  border-left-color: #d9534f;

  h4 {
    color: #d9534f;
  }
}

.bd-examples {
  .img-thumbnail {
    margin-bottom: 0.75rem;
  }

  h4 {
    margin-bottom: 0.25rem;
  }

  p {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 480px) {
  .bd-examples {
    margin-right: -.75rem;
    margin-left: -0.75rem;

    > [class^=col-] {
      padding-right: .75rem;
      padding-left: 0.75rem;
    }
  }
}

.bd-browser-bugs {
  td p {
    margin-bottom: 0;
  }

  th:first-child {
    width: 18%;
  }
}

.bd-brand-logos {
  display: table;
  color: #6f5499;
  background-color: #f9f9f9;
  border-radius: .25rem;
  padding: .2rem;
  margin-right: 10px;

  svg {
    width: 40px;
    height: 40px;
  }
}

.navbar-brand span {
  font-size: 1rem;
}

.bd-brand-item {
  padding: 4rem 0;
  text-align: center;

  + .bd-brand-item {
    border-top: 1px solid #fff;
  }
}

.bd-brand-logos .inverse {
  color: #fff;
  background-color: #6f5499;
}

.bd-brand-item {
  h1, h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .bd-booticon {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .bd-brand-item {
    display: table-cell;
    width: 1%;

    + .bd-brand-item {
      border-top: 0;
      border-left: 1px solid #fff;
    }

    h1 {
      font-size: 4rem;
    }
  }
}

.color-swatches {
  margin: 0 -5px;
  overflow: hidden;
}

.color-swatch {
  float: left;
  width: 4rem;
  height: 4rem;
  margin-right: .25rem;
  margin-left: .25rem;
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  .color-swatch {
    width: 6rem;
    height: 6rem;
  }
}

.color-swatches {
  .bd-purple {
    background-color: #6f5499;
  }

  .bd-purple-light {
    background-color: #cbbde2;
  }

  .bd-purple-lighter {
    background-color: #e5e1ea;
  }

  .bd-gray {
    background-color: #f9f9f9;
  }
}

.swatch-blue {
  color: #fff;
  background-color: #007bff;
}

.swatch-indigo {
  color: #fff;
  background-color: #6610f2;
}

.swatch-purple {
  color: #fff;
  background-color: #6f42c1;
}

.swatch-pink {
  color: #fff;
  background-color: #e83e8c;
}

.swatch-red {
  color: #fff;
  background-color: #dc3545;
}

.swatch-orange {
  color: #212529;
  background-color: #fd7e14;
}

.swatch-yellow {
  color: #212529;
  background-color: #ffc107;
}

.swatch-green {
  color: #fff;
  background-color: #28a745;
}

.swatch-teal {
  color: #fff;
  background-color: #20c997;
}

.swatch-cyan {
  color: #fff;
  background-color: #17a2b8;
}

.swatch-white {
  color: #212529;
  background-color: #fff;
}

.swatch-gray {
  color: #fff;
  background-color: #6c757d;
}

.swatch-gray-dark {
  color: #fff;
  background-color: #343a40;
}

.swatch-primary {
  color: #fff;
  background-color: #007bff;
}

.swatch-secondary {
  color: #fff;
  background-color: #6c757d;
}

.swatch-success {
  color: #fff;
  background-color: #28a745;
}

.swatch-info {
  color: #fff;
  background-color: #17a2b8;
}

.swatch-warning {
  color: #212529;
  background-color: #ffc107;
}

.swatch-danger {
  color: #fff;
  background-color: #dc3545;
}

.swatch-light {
  color: #212529;
  background-color: #f8f9fa;
}

.swatch-dark {
  color: #fff;
  background-color: #343a40;
}

.swatch-100 {
  color: #212529;
  background-color: #f8f9fa;
}

.swatch-200 {
  color: #212529;
  background-color: #e9ecef;
}

.swatch-300 {
  color: #212529;
  background-color: #dee2e6;
}

.swatch-400 {
  color: #212529;
  background-color: #ced4da;
}

.swatch-500 {
  color: #212529;
  background-color: #adb5bd;
}

.swatch-600 {
  color: #fff;
  background-color: #6c757d;
}

.swatch-700 {
  color: #fff;
  background-color: #495057;
}

.swatch-800 {
  color: #fff;
  background-color: #343a40;
}

.swatch-900 {
  color: #fff;
  background-color: #212529;
}

.bd-clipboard {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }
}

.btn-clipboard {
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  font-size: 75%;
  color: #818a91;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;

  &:hover {
    color: #fff;
    background-color: #027de7;
  }
}

@media (min-width: 768px) {
  .bd-clipboard {
    display: block;
  }
}

.hll {
  background-color: #ffc;
}

.c {
  color: #999;
}

.k {
  color: #069;
}

.o {
  color: #555;
}

.cm {
  color: #999;
}

.cp {
  color: #099;
}

.c1, .cs {
  color: #999;
}

.gd {
  background-color: #fcc;
  border: 1px solid #c00;
}

.ge {
  font-style: italic;
}

.gr {
  color: red;
}

.gh {
  color: #030;
}

.gi {
  background-color: #cfc;
  border: 1px solid #0c0;
}

.go {
  color: #aaa;
}

.gp {
  color: #009;
}

.gu {
  color: #030;
}

.gt {
  color: #9c6;
}

.kc, .kd, .kn, .kp, .kr {
  color: #069;
}

.kt {
  color: #078;
}

.m {
  color: #f60;
}

.s {
  color: #d44950;
}

.na {
  color: #4f9fcf;
}

.nb {
  color: #366;
}

.nc {
  color: #0a8;
}

.no {
  color: #360;
}

.nd {
  color: #99f;
}

.ni {
  color: #999;
}

.ne {
  color: #c00;
}

.nf {
  color: #c0f;
}

.nl {
  color: #99f;
}

.nn {
  color: #0cf;
}

.nt {
  color: #2f6f9f;
}

.nv {
  color: #033;
}

.ow {
  color: #000;
}

.w {
  color: #bbb;
}

.mf, .mh, .mi, .mo {
  color: #f60;
}

.sb, .sc {
  color: #c30;
}

.sd {
  font-style: italic;
  color: #c30;
}

.s2, .se, .sh {
  color: #c30;
}

.si {
  color: #a00;
}

.sx {
  color: #c30;
}

.sr {
  color: #3aa;
}

.s1 {
  color: #c30;
}

.ss {
  color: #fc3;
}

.bp {
  color: #366;
}

.vc, .vg, .vi {
  color: #033;
}

.il {
  color: #f60;
}

.css {
  .nt + .nt {
    color: #999;
  }

  .o {
    color: #999;

    + .nt {
      color: #999;
    }
  }
}

.anchorjs-link {
  font-weight: 400;
  color: rgba(0, 123, 255, 0.5);
  transition: color 0.16s linear;

  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}

.bd-toc > ul > li {
  display: block;
  padding: .125rem;
  color: #99979c;
  list-style: none;

  > ul > li {
    display: block;
    padding: .125rem;
    color: #99979c;
    list-style: none;
  }
}

.footer {
  width: 100%;
  color: white;
  text-align: center;
  min-height: 2rem;
  background-color: #6f5499;
}

.lang-image {
  width: 20px;
  margin-top: -3px;
}

/**
 Bullets for the menu based on level
 */

.right-menu {
  list-style-type: none;
}

.level-1 {
  margin-left: 0;
}

.level-2 {
  margin-left: 10px;
}

.level-3 {
  margin-left: 20px;
}

.level-4 {
  margin-left: 30px;
}

.level-5 {
  margin-left: 40px;
}

.level-6 {
  margin-left: 50px;
}

@media (max-width: 576px) {
  .algolia-autocomplete .ds-dropdown-menu {
    width: 100%;
    min-width: 100% !important;
  }
}

.algolia-autocomplete {
  width: 100%;
}

.dropdown-menu {
  min-width: 5rem;
}

.nav-item--lang .dropdown-menu {
  min-width: 14rem;
}

.btn-link {
  padding: .25rem;

  &:hover {
    border-color: #ced4da;
    color: #212529;
  }

  &:focus {
    border-color: #ced4da;
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.form-control {
  height: calc(2.25rem + 4px);
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-nav {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.video-iframe-wrapper {
  width: 100%;
  max-width: 500px;
}

.video-iframe-item {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

.main-section {
  flex: 1;
  padding-top: 15px;
  padding-bottom: 15px;

  .row {
    height: 100%;
  }

  .col-12 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.nav-item--icon svg {
  width: 20px;
  height: 20px;
  fill: #cbbde2;
}

.mobile-menu-trigger {
  position: absolute;
  top: 19px;
  left: 3px;
  width: 34px;
  height: 2px;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 75ms;
  background-color: #212529;

  &.active {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(45deg);

    &:before {
      top: 0;
      transition: top 75ms ease,opacity 75ms ease .12s;
      opacity: 0;
    }

    &:after {
      bottom: 0;
      transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
      transform: rotate(-90deg);
    }
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #212529;
  }

  &:before {
    transition: top 75ms ease .12s,opacity 75ms ease;
    top: -10px;
  }

  &:after {
    transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    bottom: -10px;
  }
}

a {
  color: #0071EB;
}